# File Patterns
*__*__*
template.*
t*template.*
scratch.*
junk/*
*.zip

# Folders
node_modules
challenges/advent-of-code/*/*.txt
# javascript-info/*
# exercises/javascript-crash-course-1e/*

# Prefix
REVIEW*
UNFIN*
EXCL*
