# File Patterns
*__*__*
template.*
t*template.*
scratch.*
junk/*
*.zip

# directories
node_modules
challenges/advent-of-code/*/*.txt
webpack-template/
# javascript-info/*
# exercises/javascript-crash-course-1e/*

# Prefix
REVIEW*
UNFIN*
EXCL*
