/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Trebuchet, sans-serif;
  /* border: 1px solid red; */
}

body {
  align-items: center;
  background-color: #c9ada7;
  display: flex;
  height: 75vh;
  justify-content: center;
  width: 100vw;
}

main {
  align-items: center;
  background-color: #1d3557;
  border-radius: 10px;
  border: 4px solid #22223b;
  display: flex;
  flex-flow: column;
  gap: 30px;
  justify-content: center;
  padding: 30px 20px 50px;
}

button {
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px #000000;
  font-size: 30px;
  font-weight: 900;
  height: 70px;
  width: 80px;
}

.btn-red {
  background-color: #e63946;
}

.btn-ltblue {
  background-color: #a8dadc;
}

.btn-ruddy {
  background-color: #457b9d;
}

.screen {
  background-color: #f1faee;
  border-radius: 8px;
  border: 3px solid #22223b;
  box-shadow: 0px 0px 10px 0px inset #000000;
  display: flex;
  gap: 10px;
  height: 100px;
  justify-content: space-between;
  padding: 10px;
}

.display {
  align-items: center;
  display: flex;
  font-family: monospace;
  font-size: 50px;
  justify-content: end;
  width: 300px;
}

.backspace {
  align-items: center;
  display: flex;
  font-size: 25px;
  font-weight: 900;
}

.container,
.column-main,
.column-last,
.row-main {
  display: flex;
  gap: 10px;
}

.column-main,
.column-last {
  flex-flow: column;
  gap: 12px;
}

.wide-button {
  width: 170px;
}

.tall-button {
  height: 152px;
}
