*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --color-bg: #e0e1dd;
  --color-card-highlight: #ff0054;
  --color-card: #f9f9f9;
  --color-lightgrey: #696969;
  --color-nav: #4361ee;
  --color-shadow: #00000060;
  --icon-size: 30px;
}

/* MAIN CONTAINER */
.container {
  display: grid;
  grid-template-columns: 320px auto;
  grid-template-rows: 200px auto;
  min-height: 100vh;
}

/* LEFT NAV */
.left {
  background: var(--color-nav);
  color: #fff;
  display: grid;
  grid-row: 1 / -1;
  grid-template-rows: repeat(3, min-content) auto;
  z-index: 10;
}

.profile-image {
  background: url('./avatars/kabo-orange-cat-unsplash.jpg') #ffc400;
  background-size: cover;
  background-position: center;
  width: 320px;
  height: 200px;
}

ul.nav-list {
  display: grid;
  gap: 25px;
  grid-template-rows: min-content;
  padding: 40px 25px;
}

.nav-list > li {
  align-items: center;
  display: flex;
  gap: 20px;
}

:is(.nav-list, .controls) li {
  list-style-type: none;
}
.dash-logo-title {
  align-self: end;
  align-items: center;
  display: flex;
  font-size: 2rem;
  gap: 10px;
  padding: 15px;
}

/* TOP */
.top,
[class$='-row'] {
  align-items: center;
  display: grid;
}

.top {
  box-shadow: 0 3px 9px var(--color-shadow);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  grid-template-rows: 1fr 1fr;
  z-index: 9;
}

.search-row {
  grid-template-columns: auto 25rem;
}

.welcome-row {
  gap: 10px;
  grid-template-columns: 150px auto 500px;
}

.search-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.search-row > form {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 15px;
  justify-content: center;
}

#search-bar {
  background: var(--color-bg);
  border-radius: 4rem;
  font-size: 1.2rem;
  padding: 2px 15px;
  position: relative;
  width: 80%;
}

.alerts {
  align-items: center;
  display: flex;
  gap: 10px;
}

.greeting > p {
  font-size: 1rem;
}

.greeting-avatar {
  display: flex;
  justify-content: end;
}

ul.controls {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
}

.controls li {
  display: flex;
  background: var(--color-nav);
  border-radius: 50px;
  color: #fff;
  font-size: 1.1rem;
  justify-content: center;
  padding: 6px 20px;
  width: 100px;
}

/* MAIN AREA */
.main,
.projects,
.project-card {
  display: grid;
}

.main {
  background: var(--color-bg);
  gap: 25px;
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  grid-template-columns: 3fr 1fr;
  padding: 25px;
}

.projects {
  gap: 25px;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr 1fr;
}

/* styling for all cards */
.card {
  background: var(--color-card);
  border-radius: 11px;
  box-shadow: 4px 4px 8px var(--color-shadow);
  display: flex;
  flex-flow: column nowrap;
  padding: 25px;
}

.project {
  border-left: 11px solid var(--color-card-highlight);
  height: 250px;
}

.project > p {
  color: var(--color-lightgrey);
  flex-grow: 1;
}

.project.card .buttons {
  align-items: end;
  display: flex;
  gap: 25px;
  padding: 5px;
  justify-content: end;
}

.notifications {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.notifications > div {
  height: 387.5px;
}

.announce.card > hr {
  color: var(--color-lightgrey);
  margin: 10px 0;
}

.trending.card {
  display: flex;
  justify-content: space-between;
}

.trending-user {
  display: grid;
  gap: 15px;
  grid-template-columns: min-content auto;
  align-items: center;
}

/* IMG FILTERS */
.filter-darkgrey {
  filter: invert(12%) sepia(12%) saturate(577%) hue-rotate(169deg)
    brightness(95%) contrast(93%);
}

.filter-white {
  filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg)
    brightness(110%) contrast(110%);
}

/* ICON SIZE */
.nav-list-icon {
  size: var(--icon-size) var(--icon-size);
}

/* FONTS */
.bold {
  font-weight: 900;
}

.f-lightgrey {
  color: var(--color-lightgrey);
}
.f-largest {
  font-size: ;
}

.f-larger {
  font-size: 1.7rem;
}

.f-large {
  font-size: 1.5rem;
}

.f-regular {
  font-size: 1.3rem;
}

.f-small {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.f-smaller {
  font-size: 1rem;
}

.f-smallest {
  font-size: 0.8rem;
  line-height: 1rem;
}

/* 
font sizes:
largest
  "Dashboard"
larger
  nav buttons
  "greeting" username
large
  new-upload-share buttons
  project titles
  main area section titles
regular
  alerts username
small
  project descriptions
smaller
  trending username
  trending project name
  announcement titles
  greeting "hi there"
smallest
  announcement text
*/
