@import url(https://fonts.bunny.net/css?family=abel:400|alatsi:400|albert-sans:400);

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /*border: 1px solid #ef233c90;*/
  margin: 0;
  padding: 0;
}

input,
button,
select {
  font: inherit;
}

:root {
}

body {
  color: #fff;
  display: flex;
  flex-flow: column;
  font-family: 'Albert Sans', sans-serif;
  font-size: 16px;
  gap: 10px;
  height: 100vh;
  padding: 10px;
}

.main-container,
dialog {
  background: #403d3950;
  border-radius: 5px;
  backdrop-filter: blur(25px);
  padding: 10px 15px 15px;
}

dialog {
  border: none;
  color: #fff;
  font-family: 'Alatsi', sans-serif;
  font-size: 1.3rem;
  /*left: 50%;*/
  margin: auto;
  /*margin-top: calc(-0.5 * 100vh);*/
  /*margin-left: calc(-0.5 * 100vw);*/
  /*position: absolute;*/
  text-align: center;
  /*top: 50%;*/
}

dialog::backdrop {
  background-color: #000000bf;
}

dialog > form {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

dialog > form > div {
  display: flex;
  gap: 8px;
  justify-content: center;
}

h1,
h2 {
  font-family: 'Alatsi', sans-serif;
}

h2 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 5px;
}

#nav-box {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  padding: 15px 10px;
}

#nav-box form,
#nav-box div {
  align-items: center;
  display: flex;
  gap: 8px;
}

#search-icon {
  position: relative;
  filter: invert(100%);
}

#search-field,
#toggle-units,
#open-key-modal,
#input-key-field,
#submit-key,
#cancel-button {
  background: none;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-family: 'Alatsi', sans-serif;
  font-weight: 900;
  padding: 3px 10px;
  width: 80px;
}

#search-field {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 400;
  width: 280px;
}

#search-details {
  padding-bottom: 10px;
}

#input-key-field {
  width: auto;
}

#actual-location {
  font-size: 1.4rem;
}

#main-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'location location'
    'conditions conditions'
    'temperature icon'
    'description description';
}

#location {
  grid-area: location;
  margin-bottom: 15px;
}

#conditions-icon {
  filter: invert(100%);
  grid-area: icon;
  justify-self: end;
  margin: 6px 20px 6px 0;
}

#conditions-desc {
  font-family: 'Alatsi', 'sans-serif';
  font-size: 1.8rem;
  grid-area: conditions;
  line-height: 1.2rem;
}

#current-temps {
  grid-area: temperature;
}

#main-temp-units {
  font-size: 1.8rem;
  font-weight: 900;
}

#main-temp-value {
  font-size: 2.8rem;
  font-weight: 900;
}

#feelslike {
  display: flex;
  /*line-height: 1.4rem;*/
}

#feelslike-desc {
  align-self: flex-start;
  font-size: 1.1rem;
  font-weight: 900;
  padding-top: 4px;
  padding-right: 5px;
}

#feelslike-value {
  font-size: 1.6rem;
  font-weight: 900;
}

#short-description {
  grid-area: description;
  /*padding-top: 20px;*/
}

#measurements-grid {
  display: grid;
  font-family: 'Abel', sans-serif;
  font-size: 1.2rem;
  grid-template: repeat(3, min-content) / repeat(2, 1fr);
}

.condition-value {
  justify-self: end;
}

#forecasts-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 -8px;
}

.forecast {
  align-items: center;
  display: flex;
  flex-flow: column;
  min-height: 120px;
}

.forecast-day {
  font-family: 'Abel', sans-serif;
  line-height: 1rem;
}

.forecast-img {
  filter: invert(100%);
  margin: 5px 0;
}

.forecast-temp {
  font-size: 1.2rem;
  font-weight: 900;
}

@media (min-width: 800px) {
  body {
    margin: auto;
    max-width: 800px;
  }

  #nav-box {
    align-items: start;
    display: grid;
    gap: 5px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    justify-items: start;
  }

  #search-field {
    width: 400px;
  }

  #nav-box div {
    justify-self: end;
  }
}
