@import url(https://fonts.bunny.net/css?family=abel:400|alatsi:400|albert-sans:400);

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /*border: 1px solid #ef233c90;*/
  margin: 0;
  padding: 0;
  /*-webkit-text-stroke: 1px #00000099;*/
  /*paint-order: stroke fill;*/
}

input,
button,
select {
  font: inherit;
}

:root {
}

body {
  color: #fff;
  display: flex;
  flex-flow: column;
  font-family: 'Albert Sans', sans-serif;
  font-size: 16px;
  gap: 10px;
  height: 110vh;
  padding: 10px;
}

.main-container,
dialog {
  background: #403d3950;
  border: 1px solid #00000010;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #00000030;
  backdrop-filter: blur(25px);
  padding: 10px 15px 15px;
}

#api-key-modal {
  color: #fff;
  font-family: 'Alatsi', sans-serif;
  font-size: 1.3rem;
  margin: auto;
  text-align: center;
  width: 100vw;
}

#loading-indicator {
  margin: auto;
  outline: none;
  padding: 10px;
}

#loading-indicator > div {
  align-items: center;
  color: #fff;
  display: flex;
  flex-flow: column;
  gap: 10px;
  justify-content: center;
  padding: 15px 10px 10px 10px;
}

#loading-indicator > div > img {
  height: 50px;
  width: 50px;
}

#key-form > p {
  font-family: 'Albert Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 0.9rem;
  margin-bottom: 15px;
}

dialog::backdrop {
  background-color: #000000bf;
}

#api-key-modal > form {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

#api-key-modal > form > div {
  display: flex;
  gap: 8px;
  justify-content: center;
}

h1,
h2 {
  font-family: 'Alatsi', sans-serif;
}

h2 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 5px;
}

#nav-box {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 10px;
}

#nav-box form {
  align-items: center;
  display: flex;
  gap: 5px;
  width: 100%;
}

#units-and-key-buttons-container {
  justify-self: end;
  padding-right: 29px;
}

#submit-search {
  background: url('./icons/search.svg');
  background-size: 25px 25px;
  border: none;
  filter: invert(100%);
  height: 25px;
  width: 25px;
}

#submit-search:hover {
  outline: none;
}

input,
button {
  background: none;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  font-family: 'Alatsi', sans-serif;
  font-weight: 900;
  padding: 3px 10px;
  width: 80px;
}

button:hover {
  outline: 2px solid #06d6a0;
}

button:active {
  background: #06d6a0;
}

#input-key-field,
#search-field {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 400;
  width: 100%;
}

#input-key-field {
  width: 100%;
}

#search-details {
  padding-bottom: 10px;
}

#search-error {
  color: #ff006e;
  font-size: 1rem;
  font-weight: 900;
  justify-self: start;
  height: 1rem;
}

#actual-location {
  font-size: 1.4rem;
}

#main-box {
  display: grid;
  grid-template-columns: 1fr 110px;
  grid-template-rows: auto;
  grid-template-areas:
    'location location'
    'section section'
    'conditions icon'
    'temperature icon'
    'description description';
}

#currently-section-heading {
  grid-area: section;
}

#location {
  grid-area: location;
  margin-bottom: 15px;
}

#conditions-icon {
  filter: invert(100%);
  grid-area: icon;
  justify-self: end;
  margin-right: 10px;
}

#conditions-desc {
  font-family: 'Alatsi', 'sans-serif';
  font-size: 1.6rem;
  grid-area: conditions;
  line-height: 1.6rem;
}

#current-temps {
  grid-area: temperature;
}

#main-temp-units {
  font-size: 2.3rem;
  font-weight: 900;
}

#main-temp-value {
  font-size: 3.5rem;
  font-weight: 900;
}

#feelslike {
  align-items: flex-start;
  display: flex;
  font-weight: 900;
  margin-top: -5px;
}

#feelslike-desc {
  font-size: 1rem;
  padding-right: 5px;
}

#feelslike-value {
  font-size: 2rem;
  margin-top: -5px;
}

#short-description {
  font-size: 1.05rem;
  font-weight: 600;
  grid-area: description;
  padding-top: 6px;
}

#measurements-grid {
  display: grid;
  font-family: 'Abel', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  grid-template: auto / repeat(2, 1fr);
  grid-template-areas:
    'fr1 fr1'
    'fr2 fr2'
    'fr3 fr3';
}

#precip,
#highlow,
#pressure {
  font-size: 1.3rem;
}

#precip {
  grid-area: fr1;
}

#highlow {
  grid-area: fr2;
}

#pressure {
  grid-area: fr3;
  padding-bottom: 10px;
}

.condition-value {
  justify-self: end;
}

#forecasts-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 -8px;
}

.forecast {
  align-items: center;
  display: flex;
  flex-flow: column;
  min-height: 120px;
}

.forecast-day {
  font-family: 'Abel', sans-serif;
  line-height: 1rem;
}

.forecast-img {
  filter: invert(100%);
  margin: 5px 0;
}

.forecast-temp {
  font-size: 1.2rem;
  font-weight: 900;
}

@media (min-width: 800px) {
  body {
    margin: auto;
    max-width: 800px;
  }

  #nav-box {
    align-items: start;
    display: grid;
    gap: 1px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    justify-items: start;
  }

  #search-field {
    width: 400px;
  }

  #search-error {
    order: 90;
  }

  #units-and-key-buttons-container {
    order: 50;
    padding: 0;
  }

  #api-key-modal {
    width: 380px;
  }
}
