*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: 1px solid red;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --carousel-center-width: 500px;
  --carousel-roll-gap: 20px;
  /* --carousel-roll-padding: 30px; */
  /* --carousel-offset: calc(
    (var(--carousel-center-width) - var(--carousel-roll-gap)) * 0.5
  ); */
  --carousel-offset: calc(
    var(--carousel-center-width) + 2 * var(--carousel-roll-gap)
  );
}

/* dropdown styles */
body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}

button[class^='menu-button'] {
  padding: 10px;
}

div[class^='menu'] {
  background: #e0e1dd;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
}

div[class^='menu'] ul {
  list-style-type: none;
}

.invisible {
  display: none;
}

/* carousel styles */
.image-carousel {
  width: fit-content;
}

.carousel-nav-left,
.carousel-nav-right {
  border: solid #bbb;
  border-width: 0 5px 5px 0;
  display: inline-block;
  height: 0px;
  padding: 12px;
  width: 0px;
}

:is(.carousel-nav-left, .carousel-nav-right):hover {
  border: solid black;
  border-width: 0 5px 5px 0;
}

.carousel-nav-left {
  transform: rotate(135deg);
}

.carousel-nav-right {
  transform: rotate(-45deg);
}

.carousel-frame {
  align-items: center;
  display: flex;
  gap: 15px;
  flex-flow: row;
}

.carousel-center {
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  outline: 1px solid #000;
  overflow: hidden;
  width: var(--carousel-center-width);
}

.carousel-roll {
  align-items: center;
  /* background: red; */
  display: flex;
  gap: var(--carousel-roll-gap);
  height: 350px;
  padding: var(--carousel-roll-gap);
  /* transform: translate(-250px); */
  /* width: var(--carousel-roll-width); */
}

.carousel-img {
  align-items: center;
  background: #f28482;
  display: flex;
  font-size: 40px;
  height: 200px;
  justify-content: space-around;
  min-width: 300px;
  position: relative;
  right: calc((var(--carousel-center-width) - var(--carousel-roll-gap)) * 0.5);
}

.carousel-nav-circles ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 20px;
}

.dot {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin: 0 8px;
  /* outline: 1px solid #000; */
  width: 12px;
}

.dot:hover {
  outline: 3px solid #000;
}
