@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* border: 1px solid red; */
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* end resets */

:root {
  --color-bermuda: #81b29a;
  --color-clay: #e07a5f;
  --color-sand: #f2cc8f;
  --color-slate: #3d405b;
  --color-offwhite: #f4f1de;
  --color-parchment: #faedcd;
}

html {
  background: var(--color-sand);
  color: var(--color-slate);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* main container */
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 20px;
  height: 100vh;
  justify-content: center;
}
.container > h1 {
  font-family: 'Patua One';
  font-size: 3rem;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 3px #000;
}
.container > ul {
  margin: 0;
  padding: 0;
}
li.new-book-button {
  background: var(--color-slate);
  border: 6px outset var(--color-slate);
  border-radius: 12px;
  color: var(--color-offwhite);
  font-size: 1.2rem;
  font-weight: 900;
  list-style: none;
  margin: 0;
  padding: 3px 25px;
  text-shadow: 1px 1px 1px #000;
}
li.new-book-button:active {
  background: var(--color-slate);
  border: 6px inset var(--color-bermuda);
}

/* bookshelf */
.bookshelf {
  background: var(--color-offwhite);
  border: 6px inset var(--color-clay);
  border-radius: 15px;
  box-shadow: 3px 3px 12px #000 inset;
  display: grid;
  gap: 25px;
  grid-auto-columns: 200px;
  grid-auto-flow: column;
  justify-content: center;
  min-height: 360px;
  overflow-x: auto;
  padding: 25px 40px;
  width: 1200px;
}

/* books */
.book {
  background: var(--color-parchment);
  border: 2px solid var(--color-slate);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 50px 10px;
  position: relative;
}
.book > :is(.title, .author, .pages, .read) {
  text-align: center;
}
.author {
  flex-grow: 1;
}
.delete-button {
  background: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

/* decorative */
.shadow {
  box-shadow: 3px 3px 12px #000;
}

/* modal */
::backdrop {
  background: #000000ab;
}
dialog.add-book-modal {
  margin: auto;
}
form.add-book-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form input {
  width: 300px;
}
.form-buttons {
  text-align: center;
  width: 75%;
}
