@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* border: 1px solid red; */
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* end resets */

:root {
  --color-bermuda: #81b29a;
  --color-clay: #e07a5f;
  --color-sand: #f2cc8f;
  --color-slate: #3d405b;
  --color-offwhite: #f4f1de;
  --color-parchment: #faedcd;
}

html {
  background: var(--color-sand);
  color: var(--color-slate);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* main container */
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 20px;
  height: 100vh;
  justify-content: center;
}
.container > h1 {
  font-family: 'Patua One';
  font-size: 3rem;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 1px #00000050;
}
.container > ul {
  margin: 0;
  padding: 0;
}
li.new-book-button,
.form-buttons > button {
  background: var(--color-slate);
  border: 6px outset var(--color-slate);
  border-radius: 12px;
  color: var(--color-offwhite);
  font-size: 1.2rem;
  font-weight: 900;
  list-style: none;
  margin: 0;
  padding: 3px 25px;
  text-shadow: 1px 1px 1px #00000050;
}
li.new-book-button:active,
.form-buttons > button:active {
  background: var(--color-slate);
  border: 6px inset var(--color-bermuda);
}

/* bookshelf */
.bookshelf {
  background: var(--color-slate);
  border: 6px inset var(--color-slate);
  border-radius: 25px;
  box-shadow: 5px 5px 20px #00000050 inset;
  display: grid;
  gap: 25px;
  grid-auto-columns: 265px;
  grid-auto-flow: column;
  justify-content: center;
  min-height: 470px;
  overflow-x: auto;
  padding: 25px 40px;
  width: 1400px;
}

/* books */
.book {
  align-items: center;
  background: no-repeat center/contain url('./assets/Red-Book-Texture.jpg');
  border: 1px solid var(--color-slate);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 50px 10px 20px;
  position: relative;
}
.book > :is(.title, .author, .pages, .read-status) {
  color: var(--color-offwhite);
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-wrap: break-word;
  text-align: center;
  text-shadow: 2px 2px 1px #000, -1px -1px 1px #000;
}
.title {
  flex-grow: 1;
  font-size: 1.2rem;
  font-variant-caps: small-caps;
  font-weight: 900;
}
.author {
  vertical-align: end;
}
.read-status {
  border: 2px solid #00000081;
  border-radius: 6px;
  font-size: 1.2rem;
  margin-top: 5px;
  width: 40%;
}
.read-status:hover {
  border: 2px solid #ffbb00;
}
.read {
  background: #2ecb97a9;
}
.unread {
  background: #e6394798;
}
.delete-button {
  background: none;
  border: none;
  font-size: 1.4rem;
  position: absolute;
  right: 5px;
  top: 5px;
}
.delete-button:active {
  color: #ff0000;
  text-shadow: 2px 2px 1px #000, -1px -1px 1px #000;
}

/* decorative */
.shadow {
  box-shadow: 3px 3px 12px #000;
}

/* modal */
::backdrop {
  background: #000000ab;
}
.add-book-modal {
  background: var(--color-parchment);
  border: 4px outset var(--color-clay);
  border-radius: 12px;
  color: var(--color-slate);
  font-family: 'Patua One';
  font-size: 1.5rem;
  margin: auto;
  width: 450px;
}
.add-book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form div {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
}
form :is(legend, .form-buttons) {
  align-self: center;
  text-align: center;
  width: 250px;
}
.form-buttons > button {
  font-size: 1rem;
  padding: 2px 15px;
}
form input {
  width: 300px;
}
