/* @import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

*::after {
  box-sizing: border-box;
}

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

body {
  background: #ffc300;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  font-family: 'Freeman', sans-serif;
  font-size: 15px;
}

.container {
  align-items: center;
  display: grid;
  gap: 5px;
  grid-template: repeat(2, min-content) 1fr / 150px min-content 150px;
  height: 100vh;
  justify-content: center;
}

h1 {
  color: #fff;
  font-size: 4.2rem;
  -webkit-text-stroke: 3px #000;
}

.title {
  grid-area: 1 / 2 / 2 / 3;
  margin: 50px 0 0;
}
.gameboard {
  background: #000;
  display: grid;
  gap: 5px;
  grid-area: 2 / 2 / 3 / 3;
  grid-template-columns: repeat(3, 115px);
  grid-template-rows: repeat(3, 120px);
  margin: 10px;
}

.cell {
  align-items: center;
  background: #ffc300;
  color: #fff;
  display: flex;
  font-family: 'Mochiy Pop One';
  font-size: 5.5rem;
  justify-content: center;
  position: relative;
}

:is(.x, .o)::before {
  position: absolute;
  top: -0.6rem;
  -webkit-text-stroke: 3px #000;
}

.x::before {
  color: #383838;
  content: 'X';
}
.o::before {
  color: #f7fff7;
  content: 'O';
}

.nav {
  align-self: start;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  gap: 10px;
  grid-area: 3 / 2 / 4 / 3;
  margin-top: 30px;
  text-transform: uppercase;
  justify-content: space-around;
}

.nav > li:hover {
  text-decoration: underline 4px;
  text-underline-offset: 5px;
}
ul.nav > li {
  list-style-type: none;
  padding: 2px 10px;
}

.p1 {
  grid-area: 2 / 1 / 3 / 2;
}

.p2 {
  grid-area: 2 / 3 / 3/ 4;
}

.turn-highlight {
  border: 6px solid #d00000;
  border-radius: 20px;
}

[class$='-name'] {
  font-size: 2rem;
}

[class$='-score'] {
  font-size: 3rem;
  line-height: 2.5rem;
}

[class*='-mark'] {
  align-items: center;
  display: flex;
  font-family: 'Mochiy Pop One';
  font-size: 4rem;
  height: 6rem;
  justify-content: center;
  position: relative;
}

.modal {
  background: #fcf6bd;
  border: 4px solid #000;
  border-radius: 20px;
  font-size: 1.5rem;
  margin: 273px auto auto;
  overflow-wrap: none;
}

.modal * {
  margin: 10px 20px;
}
