@import url(https://fonts.bunny.net/css?family=abril-fatface:400|arizonia:400|asap:600);

* {
  /*border: 1px solid red;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-window: #e0e1dd;
  --color-brand: #ff7d00;
  --color-brand-darker: #de6d00ff;
  --color-brand-lighter: #ffe1c4ff;
  --color-accent: #808080ff;
  --breakpoint: 350px;
}

/* common */
body {
  display: grid;
  font-family: 'Asap', sans-serif;
  font-size: 22px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  align-items: center;
  border-bottom: 1px solid var(--color-accent);
  box-shadow: 0 0 8px #000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--breakpoint), 1fr));
  /*max-width: 1600px;*/
  width: 100vw;
}

.header-left,
.header-middle,
.header-right {
  display: flex;
  gap: 20px;
  padding: 10px 30px;
}

.header-middle {
  color: var(--color-brand);
  font-family: 'Abril Fatface', display;
  font-size: 2.2rem;
  font-variant-caps: small-caps;
  justify-content: center;
  -webkit-text-stroke: 1px var(--color-brand-darker);
  paint-order: stroke fill;
}

.header-right {
  justify-content: end;
}

footer {
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  height: 40px;
  text-align: center;
}

/* content div */
#content {
  background: var(--color-window);
  display: flex;
  justify-content: center;
  max-width: 1600px;
  opacity: 0.95;
  overflow: scroll;
}

/* main page */
.home-container {
  display: grid;
  gap: 4vw;
  grid-template-columns: repeat(auto-fit, minmax(var(--breakpoint), 1fr));
  justify-items: center;
  height: 100%;
  padding: 4vw;
}

.home-container section {
  align-self: end;
  background: #ffffffcc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 380px;
  padding: 2.5vmax;
  width: min(570px, 100%);
}

.home-container > section > h1 {
  font-size: 2.5rem;
  line-height: 2.4rem;
  width: min(450px, 100%);
}

.home-container > section > p {
  font-size: 1.3rem;
  font-weight: 600;
  flex: 1;
  line-height: 1.25rem;
  width: min(480px, 100%);
}

.special {
  align-items: center;
  background: #00b4d8;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-flow: column;
  font-weight: 900;
  height: 250px;
  justify-content: center;
  justify-self: flex-end;
  line-height: 5rem;
  margin-right: 10%;
  outline: 10px solid #00667bff;
  transform: rotate(15deg);
  width: 250px;
}

.special > p {
  font-size: 1.8rem;
  line-height: 2rem;
}
.special-price {
  display: flex;
  font-size: 4.5rem;
  height: 6rem;
  letter-spacing: -0.2rem;
}

.special-price-sym {
  font-size: 3rem;
}

.special-price-dollars {
  align-self: flex-end;
  font-size: 9.5rem;
}

.special-price-cents {
  align-self: center;
  font-size: 4rem;
}

.content-buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 2vw;
}

/* menu page */
.menu-container {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, var(--breakpoint));
  grid-auto-rows: 265px;
  height: fit-content;
  width: max(var(--breakpoint), 75%);
  justify-content: center;
  padding: 4vw 0;
}

.menu-item {
  align-items: flex-end;
  background: #fff;
  border-radius: 20px;
  display: flex;
  font-weight: 900;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.menu-image {
  height: auto;
  width: var(--breakpoint);
}

/* catering page */
.catering-container {
  align-items: center;
  background: var(--color-brand);
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  height: fit-content;
  min-height: 100%;
  padding-bottom: 4vw;
  text-align: center;
  width: max(var(--breakpoint), 75%);
}

.catering-container > img {
  border-bottom: 1px solid var(--color-brand-darker);
  margin-bottom: 15px;
  min-height: 60vh;
  object-fit: cover;
  width: 100%;
}

.catering-container > :is(h1, h2) {
  padding: 0 4vw;
}

.catering-container > p {
  max-width: 50rem;
  margin-bottom: 20px;
  padding: 0 20px;
}

/* rewards page */
.rewards-container {
  color: white;
  display: flex;
  flex-flow: row wrap;
  /*height: 100%;*/
  width: 100vw;
}

.rewards-container > section {
  align-items: flex-start;
  background: var(--color-brand);
  color: #fff;
  display: flex;
  /*flex: 1;*/
  flex-flow: column nowrap;
  justify-content: center;
  /*min-width: var(--breakpoint);*/
  padding: 0 20px;
  width: 35%;
}

.rewards-hero {
  background: content-box center/cover
    url('./assets/images/rewards-background.jpg');
  flex: 1;
  /*min-width: ;*/
  min-height: 500px;
  width: 65%;
}

.rewards-container h1 {
  font-size: 3rem;
  margin-top: 2rem;
}

.rewards-container h2 {
  font-size: 2rem;
  position: relative;
}

.rewards-leeroys {
  font-family: 'Abril Fatface', display;
  font-size: 3rem;
  font-variant-caps: small-caps;
  position: relative;
  left: 4.5rem;
  top: 3.9rem;
}

.rewards-name {
  font-family: 'Arizonia', handwriting;
  font-size: 6rem;
}

/* buttons */
button {
  background: none;
  border: 0;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  text-decoration: none;
}

nav > button:hover {
  text-decoration: underline;
}

button.cater-order {
  background: #fff;
  border: 2px solid #fff;
  border-radius: 100vmax;
  color: var(--color-brand);
  font-size: 1.7rem;
  margin-top: 20px;
  padding: 10px 40px;
}

button.rewards-order {
  background: #fff;
  border: 2px solid #fff;
  border-radius: 100vmax;
  color: var(--color-brand);
  font-size: 1.5rem;
  margin: 40px;
  padding: 10px 25px;
}

button.order-content {
  align-items: center;
  background: var(--color-brand);
  border: 2px solid #fff;
  border-radius: 100vmax;
  color: #fff;
  flex: 1 0 auto;
  font-size: 1.1rem;
  padding: 5px 20px;
}

.icon {
  content: '';
  display: inline-block;
  /*filter: invert(100%) sepia(4%) saturate(7485%) hue-rotate(309deg)*/
  /*  brightness(108%) contrast(109%);*/
  height: 35px;
  margin-right: 10px;
  width: 35px;
}

button.signin-top {
  font-size: 1rem;
  border: 2px solid var(--color-brand);
  border-radius: 20px;
  color: var(--color-brand);
  padding: 8px 40px;
}

button.order-content:hover {
  background: var(--color-brand-darker);
}

button.signin-top:hover,
button.cater-order:hover,
button.rewards-order:hover {
  background: var(--color-brand-lighter);
}

button.signin-top:active {
  outline: 3px solid var(--color-accent);
}

button.order-content:active,
button.cater-order:active,
button.rewards-order:active {
  outline: 4px solid var(--color-accent);
}

/* mobile styling */
@media (max-width: 768px) {
  .header-left,
  .header-right {
    justify-content: center;
  }

  .header-middle {
    order: -1;
  }

  .special {
    margin-right: 0%;
    justify-self: center;
    transform: rotate(0deg);
  }

  button.rewards-order {
    align-self: center;
  }
}
