* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-window: #e0e1dd;
  --color-header-footer: #f5ebe0;
  --color-brand: #ff7d00;
}

/* common styling */
body {
  display: grid;
  font-family: sans-serif;
  font-size: 20px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 4rem;
  padding: 10px 30px;
}

.header-left,
.header-middle,
.header-right {
  display: flex;
  gap: 0.8rem;
}

.header-middle {
  color: var(--color-brand);
  font-size: 2rem;
  font-weight: 900;
  justify-content: center;
}

.header-right {
  justify-content: end;
  /* text-align: end; */
}

footer {
  align-items: center;
  background: var(--color-header-footer);
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  height: 40px;
}

/* content area styling */
#content {
  background: fixed center/cover url('./assets/images/chicken-background.jpg');
  overflow: auto;
  position: relative;
  opacity: 0.9;
  z-index: -1;
}

/* home (initial) page styling */
.home-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: clamp(40px, 10%, 10%) clamp(0.2vw, 2vw, 10vw);
  position: relative;
  justify-items: center;
}

.home-container section {
  background: #ffffffcc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  height: 400px;
  padding: 50px clamp(10px, 3vw, 50px) 40px;
  width: min(600px, 100%);
}

.home-container > section > h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

.home-container > section > p {
  font-weight: 600;
  flex: 1;
  line-height: 1.5rem;
}

.special {
  align-items: center;
  background: #00b4d8;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-flow: column;
  font-weight: 900;
  height: 250px;
  justify-content: center;
  width: 250px;
}

.special h1 {
  font-size: 5rem;
}

.content-buttons {
  display: flex;
  gap: 50px;
}

/* button styling */
button {
  background: none;
  border: 0;
  font-size: 1.1rem;
  font-weight: 700;
  outline: none;
  text-decoration: none;
}
/* button.nav:hover { */
/*   text-decoration: underline; */
/* } */

button:hover {
  text-decoration: underline;
  /* background: #000; */
  /* border: 2px solid #000; */
}
button.nav {
  background: none;
}

button[class^='order-'] {
  background: var(--color-brand);
  border-radius: 20px;
  color: #fff;
}

button.order-top {
  font-size: 0.8rem;
  padding: 5px 15px;
}

button.order-content {
  font-size: 1.2rem;
  padding: 5px 15px;
}

/* mobile styling */
@media (max-width: 768px) {
  .header-left,
  .header-right {
    justify-content: center;
  }

  .header-middle {
    order: -1;
  }
}
