.boring {
  fill: none;
  stroke: black;
  stroke-width: 3px;
}

.fun {
  fill: hotpink;
  stroke: greenyellow;
  stroke-width: 5px;
  stroke-dasharray: 10, 5;
  stroke-linejoin: round;
}

.fun:hover {
  fill: greenyellow;
  stroke: hotpink;
}
